# Frontend Configuration
REACT_APP_API_URL=http://localhost:5000
REACT_APP_SOCKET_URL=http://localhost:5000

# Active 911 API Configuration
REACT_APP_ACTIVE911_API_KEY=adb5138f19e6883dff48fb8fa2e650c3c49fc9f5
ACTIVE_911_API_KEY=adb5138f19e6883dff48fb8fa2e650c3c49fc9f5
ACTIVE_911_API_BASE_URL=https://access.active911.com/interface/open/api

# Server Configuration
PORT=5000
NODE_ENV=development
